details.ski-comp {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

details.ski-comp summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details.ski-comp[open] {
  padding: 0.5em;
}

details.ski-comp[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

html:not(.tox-fullscreen) div.ski-comp-sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 98;
  background-color: white;
}

a.ski-sticky-link-handler::before { 
  display: block; 
  content: " "; 
  margin-top: -4.5rem; 
  height: 4.5rem; 
  visibility: hidden; 
  pointer-events: none;
}

.ski-loading-indicator {
  border: 1rem solid #f3f3f3; /* Light grey */
  border-top: 1rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  animation: ski-spin-loading-indicator 2s linear infinite;
}

@keyframes ski-spin-loading-indicator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}