body.ski-global-nav-test-indicator header#header
  div.ic-app-header__main-navigation
  div.ic-app-header__logomark-container {
    background-color: orange;
    border: 1px dashed white;
}

body.ski-global-nav-test-indicator ul#menu::before {
  content: "*TEST*";
  color: black;
  background-color: yellow;
  border: 1px solid white;
}
