table.roster.ski-inactive-hide tr.ski-inactive-user {
  display: none;
}

table.roster tr.ski-hide {
  display: none;
}

button.ski-column-sort-btn {
  background: none;
  color: darkblue;
  color: var(--ic-link-color);
  border: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

button.ski-column-sort-btn::after {
  content: " ↕";
}

button.ski-column-sort-btn[data-ski-sort-dir="asc"],
button.ski-column-sort-btn[data-ski-sort-dir="desc"] {
  border: 1px solid;
  border-radius: 5px;
}

button.ski-column-sort-btn[data-ski-sort-dir="asc"]::after {
  content: " ↑";
}

button.ski-column-sort-btn[data-ski-sort-dir="desc"]::after {
  content: " ↓";
}